<header>
	<div class="page-header">
		<h3>Where's the snus?</h3>	
		<h4 class="text-center">Your closest retailer is: {{store.storeName}}</h4>

	</div>
</header>
	<!--	
	<div class="jumbotron" >
		<h4 class="text-center">Your closest retailer is: {{store.storeName}}</h4>
	</div>
	-->	
	<div class="well">
		<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
			<sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
		</sebm-google-map>	
	</div>	
	<footer class="text-center">
			<a href={{store.storeUrl}}>
				<input type="button" class="btn btn-link" value="Open with Google Maps"/>
			</a>
	</footer>
		

